extends layout

block content
  link(rel='stylesheet', href='/bower_components/bootstrap-calendar/css/calendar.css')
  
  #buttons
    .btn-group.col-sm-5.col-md-4.col-lg-3
      button.btn.btn-primary(data-calendar-nav='prev') << Zurück
      button.btn.btn-default(data-calendar-nav='today') Heute
      button.btn.btn-primary(data-calendar-nav='next') Weiter >>
    .btn-group.col-sm-5.col-md-4.col-lg-3
      button.btn.btn-primary(data-calendar-view='year') Jahr
      button.btn.btn-primary.active(data-calendar-view='month') Monat
      button.btn.btn-primary(data-calendar-view='week') Woche
      button.btn.btn-primary(data-calendar-view='day') Tag
    a.btn.btn-success(type='button', href='/editor', aria-label='Neuer Termin')
      span.glyphicon.glyphicon-plus-sign(aria-hidden='true')
      
  h3

  .row
    .col-md-9
      #calendar
    .col-md-3
      .row
      h4 Termine
      small Liste aller Termine
      ul#eventlist.nav.nav-list
      
  #events-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(style='width: 1000px')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h3.modal-title Event
        .modal-body(style='height: 500px')
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Schließen

  script(type='text/javascript', src='/bower_components/underscore/underscore-min.js')
  script(type='text/javascript', src='/bower_components/bootstrap-calendar/js/language/de-DE.js')
  script(type='text/javascript', src='/bower_components/bootstrap-calendar/js/calendar.js')
  script(type='text/javascript').
    /*
    * get the dates passed from the router and returns them as JSON object
    * to be set as events_source of bootstrap-calendar
    **/
    function getDates(){
      var all_dates = '!{JSON.stringify(dates)}';
      if(all_dates)
        return JSON.parse(all_dates);
      else
        return [];
    } 
  script(type='text/javascript', src='/custom/js/calendar_config.js')
