extends editor

block content
  h1 Bearbeiten
  table.table.table-bordered
      thead
        tr
          th Name
          th Verbraucher
          th Beginn
          th Ende
          th Wiederholung
          th Löschen
      tbody
        tr
          td
            input.form-control#d_name(type='text', value=date.comment)
          td
            select.form-control#d_type
              option(value='t1', selected=(date.type==1&&date.consumer==1?'selected':undefined)) Verbraucher 1
              option(value='t2', selected=(date.type==1&&date.consumer==2?'selected':undefined)) Verbraucher 2
              option(value='vacation', selected=(date.type==2?'selected':undefined)) Urlaubsmodus
          td
            .form-group(style='max-width: 250px')
              #datetimepicker1.input-group.date
                input.form-control(type='text', value=date.start)
                span.input-group-addon
                  span.glyphicon.glyphicon-calendar
          td
            .form-group(style='max-width: 250px')
              #datetimepicker2.input-group.date
                input.form-control(type='text', value=date.end)
                span.input-group-addon
                  span.glyphicon.glyphicon-calendar
          td
            select.form-control#d_repeat(onchange='index_changed(this)')
              option(selected=(date.repeat==0?'selected':undefined)) deaktiviert
              option(selected=(date.repeat==1?'selected':undefined)) täglich
              option(selected=(date.repeat==2?'selected':undefined)) wöchentlich
              option(selected=(date.repeat==3?'selected':undefined)) monatlich
              option(selected=(date.repeat==4?'selected':undefined)) jährlich
          td
            button.btn.btn-danger(onclick='deleteClicked()')
              | x
 
  script(src='/custom/js/editor_edit.js')
  script(type='text/javascript').
    function getID(){
      return !{JSON.stringify(date_ID)};
    }
