doctype html
html
  head
    title Editor
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/custom/css/theme.css')
    link(rel='stylesheet', href='/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css')
    
    script(type='text/javascript', src='/bower_components/jquery/dist/jquery.js')
    script(type='text/javascript', src='/bower_components/moment/min/moment.min.js')
    script(type='text/javascript', src='/bower_components/moment/locale/de.js')
    script(type='text/javascript', src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(type='text/javascript', src='/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')
    
  script(src='/socket.io/socket.io.js')
  script(src='/custom/js/layout.js')

  body
    .container-fluid
      block content
    
      .btn-toolbar#dialog_button(role='toolbar')
        button(type='button', onclick='saveClicked()').btn.btn-success#cmdSave Speichern
        button(type='button', onclick='cancleClicked()').btn.btn-danger#cmdAbort Schließen
                
  script(src='/custom/js/editor.js')
