extends editor

block content
  h1 Erstellen
  table.table.table-bordered
      thead
        tr
          th Name
          th Verbraucher
          th Beginn
          th Ende
          th Wiederholung
      tbody
        tr
          td
            input.form-control#d_name(type='text')
          td
            select.form-control#d_type
              option(value='t1') Verbraucher 1
              option(value='t2') Verbraucher 2
              option(value='vacation') Urlaubsmodus
          td
            .form-group(style='max-width: 250px')
              #datetimepicker1.input-group.date
                input.form-control(type='text')
                span.input-group-addon
                  span.glyphicon.glyphicon-calendar
          td
            .form-group(style='max-width: 250px')
              #datetimepicker2.input-group.date
                input.form-control(type='text')
                span.input-group-addon
                  span.glyphicon.glyphicon-calendar
          td
            select.form-control#d_repeat(onchange='index_changed(this)')
              option deaktiviert
              option täglich
              option wöchentlich
              option monatlich
              option jährlich
                  
    script(src='/custom/js/editor_new.js')  
