extends layout

block content
  .container
    #myCarousel.carousel.slide(data-ride='carousel')
      // Indicators
      ol.carousel-indicators
        li.active(data-target='#myCarousel', data-slide-to='0')
        li(data-target='#myCarousel', data-slide-to='1')
        li(data-target='#myCarousel', data-slide-to='2')
      // Wrapper for slides
      .carousel-inner(role='listbox')
        .item.active
          img(src='/custom/img/Gruppe_21 Logo.png', alt='logo')
          .carousel-caption
            h1 Vielen Dank,
            h3 dass sich sich für UNSER Produkt entschieden haben 
        .item
          img.center(src='/custom/img/timer-clock_318-43649.jpg', alt='Timer')
          .carousel-caption
              h3 Sie können Termine mit dem
              h3 Urlaubsmodus markieren
        .item
          img(src='/custom/img/switch.png', alt='switch', align="center")
          .carousel-caption
            h3 Sie können die Taster 
            h3 mit verschiedenen Funktionen ausstatten
      // Left and right controls
      a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
        span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
        span.sr-only Previous
      a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
        span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
        span.sr-only Next

        