extends layout

block content
  .container
    .col-xs-6
      .row
        .panel.panel-primary
          .panel-heading
            .panel-title Team
          .panel-body
            label.control-label Gruppe 21
      .row
        .panel.panel-primary
          .panel-heading
            .panel-title Version
          .panel-body
            label.control-label #{version}
    .col-xs-6(style='float:right;width:33%')
      img.img-responsive(style='width:180px;height:auto;', src='/custom/img/Gruppe_21 Logo.png')