doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/custom/css/theme.css')

  script(type='text/javascript', src='/bower_components/jquery/dist/jquery.js')
  script(type='text/javascript', src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
  
  script(src='/socket.io/socket.io.js')
  script(src='/custom/js/layout.js')  

  body
    nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          button(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar").navbar-toggle.collapsed
            span.icon-bar
            span.icon-bar
            span.icon-bar

          a.navbar-brand(href='/') Zeitschaltuhr
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li(class=(title=='Kalender'?'active':undefined))
              a(href='/calendar') Kalender
            li(class=(title=='Tasterverwaltung'?'active':undefined))
              a(href='/switches') Tasterverwaltung
            li(class=(title=='Einstellungen'?'active':undefined))
              a(href='/settings') Einstellungen
            li(class=(title=='Protokoll'?'active':undefined))
              a(href='/logs') Protokoll
            li(class=(title=='Informationen'?'active':undefined))
              a(href='/info') Informationen    
              
    .container#alert_message
        
    .container
      .page-header
        h1 #{title}
      block content

  block footer
    .navbar.navbar-default.navbar-fixed-bottom
      .container
        p.text-muted
          .navbar-text.pull-left
            | Copyright &copy; 2016 | 
            a(href='/info') Gruppe 21
          .navbar-text.pull-right
            p#date_display Datum
              
  script(type='text/javascript').
    var date = new Date();
    document.getElementById('date_display').innerHTML = date.toLocaleDateString();
