extends layout

block content
  script(src='/custom/js/logs.js')
  
  .input-group.col-md-3.col-sm-4
    span.input-group-addon
      input#cb_show_all(type='checkbox', onclick='change(this)', disabled=(!protsuccess))
    label.form-control
      |Alle Logs anzeigen
  p
  .panel.panel-default
    .panel-heading
      .panel-title Logs
    .panel-body
      table.table#LogTable
        thead
          tr
          th ID
          th Zeitpunkt
          th Art
          th Code
          th Name
        tbody
          tr
            each log in logs
              tr
                th(scope='row')= log.ID
                td= log.timestamp
                td= log.type
                td= log.code
                td= log.name
