extends layout

block content
  script(src='/custom/js/settings.js')
  
  .container
    .col-sm-6
      .panel.panel-primary
        .panel-heading
          .panel-title Einstellungen
        .panel-body
          .input-group
            span.input-group-addon
              input#cb_speech(type='checkbox', onclick='change()', checked=config.speech_out)
            label.form-control
              |Sprachausgabe
          p
          .input-group
            span.input-group-addon
              input#cb_remote(type='checkbox', onclick='change()', checked=config.remote_control)
            label.form-control
              |Fernbedienung
  
  .container
    .btn-toolbar.hidden#dialog_button(role='toolbar')
      button(type='button', onclick='saveClicked()').btn.btn-success#cmdSave Speichern
      button(type='button', onclick='cancleClicked()').btn.btn-danger#cmdAbort Abbrechen
