extends layout

block content  
  script(src='/custom/js/switches.js')
  
  .container          
    .col-sm-6
      .panel#consumer1(class=(switches.s1?'panel-success':'panel-danger'))
        .panel-heading
          .panel-title Verbraucher 1
        .panel-body
          select.form-control#switch1(onchange='index_changed("1")')
            option(value='0', selected=(config.Switch1==0?'selected':undefined)) deaktiviert
            option(value='1', selected=(config.Switch1==1?'selected':undefined)) Taster
            option(value='2', selected=(config.Switch1==2?'selected':undefined)) Schalter
            option(value='3', selected=(config.Switch1==3?'selected':undefined)) Timer
          p
            #1_timer.input-group.col-md-6(class=(config.Switch1==3?undefined:'hidden'), onchange='index_changed("1")')
              span.input-group-addon Zeit:
              input.form-control(type='number', min='0', placeholder='0', value=config.time1)#timertime1
              span.input-group-addon Sekunden
            
    .col-sm-6
      .panel#consumer2(class=(switches.s2?'panel-success':'panel-danger'))
        .panel-heading
          .panel-title Verbraucher 2
        .panel-body
          select.form-control#switch2(onchange='index_changed("2")')
            option(value='0', selected=(config.Switch2==0?'selected':undefined)) deaktiviert
            option(value='1', selected=(config.Switch2==1?'selected':undefined)) Taster
            option(value='2', selected=(config.Switch2==2?'selected':undefined)) Schalter
            option(value='3', selected=(config.Switch2==3?'selected':undefined)) Timer
          p
            #2_timer.input-group.col-md-6(class=(config.Switch2==3?undefined:'hidden'), onchange='index_changed("2")')
              span.input-group-addon Zeit:
              input.form-control(type='number', min='0', placeholder='0', value=config.time2)#timertime2
              span.input-group-addon Sekunden
  .container
    .btn-toolbar.hidden#dialog_button(role='toolbar')
      button(type='button', onclick='saveClicked()').btn.btn-success#cmdSave Speichern
      button(type='button', onclick='cancleClicked()').btn.btn-danger#cmdAbort Abbrechen
  p
  h3 Erläuterungen
  .container
    .col-sm-4
      .alert.well-sm.alert-success
        strong Der Verbraucher ist an.
      .alert.well-sm.alert-danger
        strong Der Verbraucher ist aus.
    .col-sm-8
      table.table
        thead
          tr
            th Tasteroptionen
            th Beschreibung
        tbody
          tr
            td deaktiviert
            td Der Taster hat keine Funktion.
          tr
            td Taster
            td Der Verbraucher ist nur an, solange der Taster gedrückt wird.
          tr
            td Schalter
            td Der Verbraucher wechselt seinen Zustand, wenn der Taster gedrückt wird.
          tr
            td Timer
            td Der Verbraucher ist für eine eingestellte Zeit an.
